@import "../../less/common";

.container{
  padding-top: @headerHeight;
  color:@fontColor;
  & > :global(.fixed-width){
    margin-top: -300px;
    position: relative;
    z-index: 20;
  }
}

.banner_box{
  position: relative;
  overflow: hidden;
  z-index: 10;
  height: 400px;
  .banner_bg_color{
    background-color: rgba(0,0,0,.4);
    position: absolute;
    left: 0;
    top: 0;
    .full();
    z-index: -1;
  }
  .banner_bg_img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -3;
    filter:blur(60px);
  }
}

.info_box{
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #fff;
  display: flex;
  padding-bottom: 30px;

  .info_right{
    display: flex;
    flex-direction:column;
    padding: 35px 40px 0 0;
    line-height: 30px;
    flex:1;
  }

  .info_line{
    display: flex;
    align-items: center;
  }
  .text_intro{
    flex:1;
    line-height: 22px;
  }
  .info_column{
    margin-right: 30px;
  }
  .info_label{
    color:#999;
    margin-right: 10px;
  }
  .text_title{
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .info_line{
    display: flex;
    align-items: center;
    .operate_box{
      text-align: right;
      flex:1;
    }
    :global{
      .ant-btn,.wct-text{
        margin-right: 10px;
      }
    }
  }
  .text_score{
    font-size: 20px;
    margin-right: 10px;
  }
  :global{
    .img-box{
      width: 240px;
      height: 314px;
      margin: -44px 20px 0 40px;
      box-shadow: 0 0 5px #444;
      border-radius: 6px;
      overflow: hidden;
    }
    .ant-rate{
      font-size: 20px;
    }
  }
}


.content{
  padding: 0 40px;
  display: flex;
  .left{
    flex:1;
  }
  .right{
    width: 240px;
    flex:0 0 auto;
    margin-left: 40px;
    padding-top: 10px;
    > div{
      background: #fff;
      border: 1px solid #d9d9d9;
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

}

.chapter_view{
  margin-bottom: 40px;
  .chapter_tabs{
    flex:1;
    display: flex;
    align-items: center;
    .tabs_sep{
      height: 12px;
      width: 1px;
      background-color: @fontColor;
      margin: 0 20px;
    }
    :global{
      .text-click.active{
        color:@activeColor;
      }
    }
  }

  :global{
    .flex-parent{
      align-items: center;
      padding:15px 0;
      .wct-text{
        color: #999;
      }
    }
  }
}


.chapter_list{

  .chapter_item{
    flex:1;
    line-height: 36px;
    background: #f6f6f6;
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    &:first-child{
      margin-left: 0;
    }
    &:hover{
      color:#e90930;
      background-color: #ffeef1;
    }
  }


  .chapter{
    height: 100px;
    overflow: hidden;
    background: #f6f6f6;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    line-height: 30px;
    &:first-child{
      margin-top: 0;
    }
    &:hover{
      background: #ffeef1;
      color: #fd113a;
    }
    .info{
      padding: 10px 0 0 20px;
    }

    :global{
      .img-box{
        width: 171px;
        height: 100px;
      }
    }
  }
}

.author_box{
  text-align: center;
  line-height: 1.15;
  .avatar{
    width: 80px;
    height: 80px;
    margin-top: 30px;
    border-radius: 50%;
  }
  .text_title{
    font-size: 20px;
    margin-top: 10px;
  }
  .text_tips{
    margin-top: 5px;
  }

  .author_level{
    margin-top: 25px;
    padding-bottom: 30px;
  }
}

.text_strong{
  color:@activeColor;
}

.right_title{
  display: flex;
  align-items: center;
  padding: 0 10px 0 20px;
  .text_title{
    flex:1;
    font-size: 18px;
    line-height: 42px;
    font-weight: 700;
  }
}

.other_content{
  padding: 10px 10px 20px 10px;
  text-align: center;

  :global{
    .ant-btn{
      margin-top: 15px;
    }
  }
}

.swiper_item{
  .text_title{
    margin-top: 12px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text_intro{
    font-size: 12px;
    color: #666;
    margin-top: 18px;
    line-height: 18px;
  }
}

.hot_box{
  .right_title{
    border-bottom:1px solid #d9d9d9;
  }
}

.hot_list{
  padding: 0 10px;
  .hot_item{
    padding: 10px 0;
    display: flex;
    border-top: 1px dashed #d9d9d9;
    &:first-child{
      border-top:0;
    }
    > img{
      margin-right: 10px;
      width: 70px;
      height: 93px;
      flex:0 0 auto;
    }

    .info{
      display: flex;
      flex-direction: column;
    }

    .text_intro{
      font-size: 12px;
      color: #666;
      margin-top: 4px;
      line-height: 18px;
      flex:1;
    }

    .text_score{
      font-size: 12px;
      :global{
        .ant-rate{
          font-size: 12px;
        }
      }
    }
  }
}

.correlative_box{
  margin-bottom: 40px;
  .text_title{
    font-size: 20px;
    margin-bottom: 20px;
  }
}
